.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    margin-top: 2rem;
    padding: 0.6rem 0;

    border-width: 0.1rem 0;
    width: 100%;
    border-style: solid;
    border-color: black;
}

.authorContainer {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;

}

.author {
    font-size: 1.8rem;
    color: var(--c-primary-brighter);
}

.commentContainer {
    width: 80%;
}

.comment {
    font-size: 1.3rem;
}