.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0 2rem;
    padding: 2rem;
    background: var(--c-articleview-bg);
}

.title {
    margin: 3rem 0;
    font-size: 5rem;
    font-weight: bold;
    line-height: 5rem;
}

.author {
    font-size: 3rem;
    font-style: italic;
    margin: 0 0 2rem 0;
}

.content {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.createdAt {

}

.commentHr {
    border-color: red;
    border-width: 0.1rem;
    width: 100%;
}

.commentForm {
    display: flex;
    justify-content: center;
    width: 100%;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 90%;
}